.wsmobileheader {
    display: none;
}

.overlapblackbg {
    opacity: 0;
    visibility: hidden;
}

.wsmenu .wsmenu-click {
    display: none;
}

.wsmenu .wsmenu-click02 {
    display: none;
}

.wsmenu {
    font-size: 14px;
    display: block;
    font-family: 'Rubik';
    letter-spacing: 0px;
    font-style: normal;
    font-weight: 500;
    position: relative;
}

    .wsmenu > .wsmenu-list {
        margin: 0 auto 0 auto;
        width: 100%;
        display: block;
        padding: 0;
        height: 70px;
    }

    

        .wsmenu > .wsmenu-list > li {
            text-align: center;
            display: inline-block;
            padding: 0;
            margin: 0;
        }



            .wsmenu > .wsmenu-list > li > a {
                display: block;
                padding: 10px 28px 10px 19px;
                line-height: 50px;
                text-decoration: none;
                position: relative;
                text-transform: uppercase;
            }



                .wsmenu > .wsmenu-list > li > a .wsarrow:after {
                    border-left: 4px solid rgba(0, 0, 0, 0);
                    border-right: 4px solid rgba(0, 0, 0, 0);
                    border-top: 4px solid;
                    content: "";
                    float: right;
                    right: 11px;
                    height: 0;
                    margin: 0 0 0 14px;
                    position: absolute;
                    text-align: right;
                    top: 33px;
                    width: 0;
                }

        .wsmenu > .wsmenu-list ul.sub-menu {
            position: absolute;
            top: 70px;
            z-index: 1000;
            margin: 0px;
            padding: 0px;
            min-width: 220px;
            background: #fff;
            box-shadow: 2px 2px 5px 1px rgb(0 0 0 / 5%), -2px 0px 5px 1px rgb(0 0 0 / 5%);
            -webkit-transition: all 600ms ease;
            transition: all 600ms ease;
            border-top: 5px solid var(--secondary-color);
        }

            .wsmenu > .wsmenu-list ul.sub-menu > li {
                position: relative;
                margin: 0px;
                padding: 0px;
                display: block;
                border-bottom: 1px solid rgba(31, 31, 31, 0.05);
            }

                .wsmenu > .wsmenu-list ul.sub-menu > li > a {
                    background-image: none;
                    color: rgb(31, 31, 31);
                    border-right: 0 none;
                    text-align: left;
                    display: block;
                    line-height: 22px;
                    padding: 12px;
                    letter-spacing: normal;
                    font-weight: 400;
                    font-size: 15px;
                }

@media only screen and (max-width: 991px) {
    html {
        overflow: hidden;
        height: 100%;
        -webkit-overflow-scrolling: touch;
    }

    body {
        height: 100%;
        overflow-y: auto;
        overflow-x: hidden;
    }

        body.wsactive {
            overflow: hidden;
        }


    .wsmainfull {
        height: 0;
    }

    .wsmenucontainer {
        background-attachment: local;
        background-position: 33% 0%;
    }

    .wsmenu {
        width: 100%;
        background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
        left: 0;
        overflow-y: hidden;
        padding: 0;
        top: 0;
        visibility: hidden;
        position: fixed;
        margin: 0px;
    }

        .wsmenu > .wsmenu-list {
            height: auto;
            min-height: 100%;
            width: 240px;
            background: var(--primary-color);
            padding-bottom: 0;
            margin-left: -240px;
            display: block;
            text-align: center;
            -webkit-transition: all 0.25s ease-in-out;
            -moz-transition: all 0.25s ease-in-out;
            -o-transition: all 0.25s ease-in-out;
            -ms-transition: all 0.25s ease-in-out;
            transition: all 0.25s ease-in-out;
        }

            .wsmenu > .wsmenu-list > li {
                width: 100%;
                display: block;
                float: none;
                border-right: none;
                background-color: transparent;
                position: relative;
                white-space: inherit;
                clear: right;
            }



    @supports (-webkit-overflow-scrolling: touch) {
        .wsmenu > .wsmenu-list > li:last-child {
            padding-bottom: 110px;
        }
    }


    .wsmenu > .wsmenu-list > li > a {
        padding: 12px 32px 12px 17px;
        font-size: 14px;
        text-align: left;
        border-right: solid 0px;
        background-color: transparent;
        color: #666666;
        line-height: 25px;
        border-bottom: 1px solid;
        border-bottom-color: rgba(0, 0, 0, 0.13);
        position: static;
    }

        .wsmenu > .wsmenu-list > li > a .wsarrow:after {
            display: none;
        }






    /* ================== Mobile Slide Down Links CSS ================== */
    .wsmenu > .wsmenu-list > li > ul.sub-menu {
        display: none;
        position: relative;
        top: 0px;
        background-color: #fff;
        border: none;
        padding: 0px;
        opacity: 1;
        visibility: visible;
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
        transform: none;
        -webkit-transition: inherit;
        -moz-transition: inherit;
        transition: inherit;
        -webkit-transform-style: flat;
    }

        .wsmenu > .wsmenu-list > li > ul.sub-menu > li > a {
            line-height: 20px;
            font-size: 13px;
            padding: 10px 0px 10px 16px;
            color: #383838;
        }




            .wsmenu > .wsmenu-list > li > ul.sub-menu > li > a:hover,
            .wsmenu > .wsmenu-list > li > ul.sub-menu li:hover > a {
                background-color: #e7e7e7;
            }






    /* ================== Mobile Header CSS ================== */
    div.mobile-menu-button {
        display: block;
        vertical-align: middle;
        line-height: 100%;
    }

    .wsmobileheader {
        width: 36px;
        height: 36px;
        display: inline-block;
        text-align: center;
        line-height: 36px;
        vertical-align: middle;
        border-radius: 5px;
        border: 1px solid rgba(255, 255, 255, .5);
        cursor: pointer;
        background-color: var(--secondary-color);
    }

        .wsmobileheader .wsanimated-arrow i {
            color: #fff;
        }






    /* ================== Mobile Overlay/Drawer CSS ================== */
    .overlapblackbg {
        right: 0;
        width: calc(100% - 240px);
        height: 100vh;
        min-height: 100%;
        position: fixed;
        top: 0;
        opacity: 0;
        visibility: hidden;
        background-color: rgba(0, 0, 0, 0.45);
        cursor: pointer;
    }

    .wsactive .wsmenu .overlapblackbg {
        opacity: 1;
        visibility: visible;
        -webkit-transition: opacity 1.5s ease-in-out;
        -moz-transition: opacity 1.5s ease-in-out;
        -ms-transition: opacity 1.5s ease-in-out;
        -o-transition: opacity 1.5s ease-in-out;
    }





    .wsactive .wsmenu {
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
        visibility: visible;
        z-index: 1000;
        top: 0;
    }

        .wsactive .wsmenu > .wsmenu-list {
            -webkit-transition: all 0.25s ease-in-out;
            -moz-transition: all 0.25s ease-in-out;
            -o-transition: all 0.25s ease-in-out;
            -ms-transition: all 0.25s ease-in-out;
            transition: all 0.25s ease-in-out;
            margin-left: 0;
        }

    /* ================== Mobile Sub Menu Expander Arrows  ================== */
    .wsmenu > .wsmenu-list > li > .wsmenu-click {
        height: 49px;
        position: absolute;
        top: 0;
        right: 0;
        display: block;
        cursor: pointer;
        width: 100%;
    }

    .wsmenu > .wsmenu-list > li .wsmenu-click.ws-activearrow > i {
        transform: rotate(-45deg);
        margin-top: 23px;
    }

    .wsmenu > .wsmenu-list > li > .wsmenu-click > i {
        display: block;
        height: 8px;
        width: 8px;
        float: right;
        transform: rotate(-225deg);
        margin: 18px 18px 0px 0px;
    }

        .wsmenu > .wsmenu-list > li > .wsmenu-click > i:before {
            content: "";
            width: 100%;
            height: 100%;
            border-width: 1.5px 1.5px 0 0;
            border-style: solid;
            border-color: rgba(255, 255, 255, 0.40);
            transition: 0.2s ease;
            display: block;
            transform-origin: 100% 0;
        }

    .wsmenu > .wsmenu-list > li > ul.sub-menu > li .wsmenu-click02 {
        height: 41px;
        position: absolute;
        top: 0;
        right: 0;
        display: block;
        cursor: pointer;
        width: 100%;
    }

        .wsmenu > .wsmenu-list > li > ul.sub-menu > li .wsmenu-click02 > i {
            display: block;
            height: 8px;
            width: 8px;
            float: right;
            transform: rotate(-225deg);
            margin: 14px 18px 0px 0px;
        }

            .wsmenu > .wsmenu-list > li > ul.sub-menu > li .wsmenu-click02 > i:before {
                content: "";
                width: 100%;
                height: 100%;
                border-width: 1.5px 1.5px 0 0;
                border-style: solid;
                border-color: rgba(0, 0, 0, 0.40);
                transition: 0.2s ease;
                display: block;
                transform-origin: 100% 0;
            }

            .wsmenu > .wsmenu-list > li > ul.sub-menu > li .wsmenu-click02 > i.wsmenu-rotate {
                transform: rotate(-45deg);
                margin-top: 19px;
            }
}

@media only screen and (min-width: 992px) {
    .wsmenu > .wsmenu-list > li > ul.sub-menu {
        opacity: 0;
        visibility: hidden;
        transform: rotateX(-75deg);
        -o-transform: rotateX(-75deg);
        -moz-transform: rotateX(-75deg);
        -webkit-transform: rotateX(-75deg);
    }

    .wsmenu > .wsmenu-list > li.featured-link {
        float: right;
    }

        .wsmenu > .wsmenu-list > li.featured-link a {
            background-color: var(--secondary-color);
            margin-top: 10px;
            border-radius: 7px;
            display: block;
            padding: 10px 28px 10px 28px;
            line-height: 30px;
        }

            .wsmenu > .wsmenu-list > li.featured-link a:hover {
                background-color:#fff;
                color:#777;
            }

}
/* ================== Menubar Fade Effects  ================== */
.wsmenu > .wsmenu-list > li > ul.sub-menu {
    -o-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    -moz-transform-origin: 0% 0%;
    -webkit-transform-origin: 0% 0%;
    -o-transition: -o-transform 0.3s, opacity 0.3s;
    -ms-transition: -ms-transform 0.3s, opacity 0.3s;
    -moz-transition: -moz-transform 0.3s, opacity 0.3s;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
}

.wsmenu > .wsmenu-list > li:hover > ul.sub-menu {
    opacity: 1;
    visibility: visible;
    transform: rotateX(0deg);
    -o-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    -webkit-transform: rotateX(0deg);
}


/* ================== Menubar Theme & Colors  ================== */

.wsmenu {
    font-family: 'Rubik';
    letter-spacing: 0px;
    font-style: normal;
    font-weight: 500
}

    .wsmenu > .wsmenu-list > li > a {
        color: #fff;
    }


        .wsmenu > .wsmenu-list > li > a.active {
            color: var(--secondary-color);
        }

    .wsmenu > .wsmenu-list > li:hover > a,
    .wsmenu > .wsmenu-list > li > ul.sub-menu > li:hover > a {
        color: var(--secondary-color);
    }
